target
runtime/ast.json
runtime/target
Cargo.lock
.DS_Store
.vscode
**/libextism.dylib
**/libextism.so
*.o
manifest/target
**/node_modules
__pycache__
python/dist
python/poetry.lock
c/main
go/main
ruby/.bundle/
ruby/.yardoc
ruby/_yardoc/
ruby/coverage/
ruby/doc/
ruby/pkg/
ruby/spec/reports/
ruby/tmp/
ruby/Gemfile.lock
cpp/example
rust/target
rust/test.log
ocaml/duniverse
ocaml/_build
php/Extism.php
dist-newstyle
.stack-work
vendor