target
runtime/ast.json
runtime/target
Cargo.lock
.DS_Store
.vscode
**/libextism.dylib
**/libextism.so
*.o
manifest/target
**/node_modules
__pycache__
python/dist
python/poetry.lock
c/main
cpp/test/test
cpp/example
go/main
ruby/.bundle/
ruby/.yardoc
ruby/_yardoc/
ruby/coverage/
ruby/doc/
ruby/pkg/
ruby/spec/reports/
ruby/tmp/
ruby/Gemfile.lock
rust/target
rust/test.log
duniverse
_build
php/Extism.php
python/docs
dist-newstyle
.stack-work
vendor
zig/zig-*
zig/example-out/
zig/*.log
java/*.iml
java/*.log
java/.idea
java/.DS_Store

