on: 
  pull_request:
    paths:
      - .github/actions/extism
      - .github/workflows/ci-node.yml
      - manifest/
      - runtime/
      - libextism/
      - node/
  workflow_dispatch:

name: Node CI

jobs:
  node:
    name: Node
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        rust:
          - stable
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3
      - uses: ./.github/actions/extism
      - name: Setup Node env
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Test Node Host SDK
        run: |
          cd node
          npm i
          LD_LIBRARY_PATH=/usr/local/lib npm run build
          LD_LIBRARY_PATH=/usr/local/lib npm run example
          LD_LIBRARY_PATH=/usr/local/lib npm run test

      - name: Test Browser Runtime
        run: |
          cd browser
          npm i
          npm run test
