on:
  workflow_dispatch:

name: Release .NET Native NuGet Packages

jobs:
  release-runtimes:
    name: release-dotnet-native
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v3.0.3
        with:
           dotnet-version: 7.x
      - uses: dawidd6/action-download-artifact@v2
        with:
          workflow: release.yml
          name: release-artifacts
      - name: Extract Archive
        run: |
          mkdir -p dotnet/nuget/runtimes/win-x64/native/
          tar -xvzf libextism-x86_64-pc-windows-msvc-main.tar.gz -C dotnet/nuget/runtimes/win-x64/native/

          mkdir -p dotnet/nuget/runtimes/osx-arm64/native/
          tar -xvzf libextism-aarch64-apple-darwin-main.tar.gz -C dotnet/nuget/runtimes/osx-arm64/native/

          mkdir -p dotnet/nuget/runtimes/osx-x64/native/
          tar -xvzf libextism-x86_64-apple-darwin-main.tar.gz -C dotnet/nuget/runtimes/osx-x64/native/

          mkdir -p dotnet/nuget/runtimes/linux-x64/native/
          tar -xvzf libextism-x86_64-unknown-linux-gnu-main.tar.gz -C dotnet/nuget/runtimes/linux-x64/native/

          mkdir -p dotnet/nuget/runtimes/linux-arm64/native/
          tar -xvzf libextism-aarch64-unknown-linux-gnu-main.tar.gz -C dotnet/nuget/runtimes/linux-arm64/native/

          mkdir -p dotnet/nuget/runtimes/linux-musl-arm64/native/
          tar -xvzf libextism-aarch64-unknown-linux-musl-main.tar.gz -C dotnet/nuget/runtimes/linux-musl-arm64/native/

      - name: Publish NuGet packages
        run: |
          git tag
          find ./dotnet/nuget -type f -name "*.csproj" -exec dotnet pack {} -o release-artifacts \;
          ls release-artifacts
          # dotnet nuget push --source https://api.nuget.org/v3/index.json ./release-artifacts/*.nupkg --api-key ${{ secrets.NUGET_API_KEY }}
